{% extends 'list.html' %}
{% load static %}
{% block head_list %}

{% endblock %}

{% block columns %}
    <!-- <tr>
        <th scope="col" style="width: 15%;">Nombre del proyecto</th>
        <th scope="col" style="width: 15%;">Descripción</th>
        <th scope="col" style="width: 15%;">Nivel del proyecto</th>
        <th scope="col" style="width: 15%;">Periodo</th>
        <th scope="col" style="width: 15%;">Informe Final</th>
        <th scope="col" style="width: 15%;">Empleado</th>
        <th scope="col" style="width: 15%;">Categoría</th>
    </tr> -->
{% endblock %}

{% block rows %}
<div class="row row-cols-1 row-cols-md-1 g-2">
    {% for project in page_obj %}      
        <div class="col mb-3">
            <div class="card {% if project.empleado_id == request.user.id %} card-project {% endif %}" style="width: auto; height: auto">
                <div class="row g-0">
                  <div class="col-md-12">
                    <div class="card-body">
                        <div class="row">
                        <div class="col">
                          <h5 class="card-title text-danger">Título: {{ project.titulo }}</h5>
                          <p class="card-text text-success">Nivel: {{ project.nivel }}</p>
                          <p class="card-text text-primary">Categoría: {{ project.categoria.nombre }}</p>
                        </div>
                        <div class="col">
                          <p class="card-text text-warning">Informe Previo: {{ project.informePrevio }}</p>
                            <p class="card-text text-info">Informe Final: {{ project.informeFinal }}</p>
                            <p class="card-text text-muted">Periodo: {{ project.fechaInicio}} al {{ project.fechaFin }}</p>
                        </div>
                        <div class="col-lg-12 mt-3 mb-3">                      
                            <p class="card-text text-dark">Descripción: {{ project.descripcion }}</p>
                        </div>
                    </div>
                        <div class="card-footer text-center">
                            <a title="Ver Clientes" href="{% url 'project:project_clients' pk=project.id %}" class="btn btn-success"><i class="fa fa-users"></i></a>
                            <a title="Editar" href="{% url 'project:project_update' pk=project.id %}" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                            <a title="Eliminar" href="{% url 'project:project_delete' pk=project.id %}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                            <a title="Finalizar Proyecto" href="{% url 'project:project_finish' pk=project.id %}" class="btn btn-warning"><i class="fa fa-flag-checkered"></i></a>
                          </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>     
    {% endfor %}
  </div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Primera</a>
            <a href=#><b><font color="#000080">---</b></font></a>
            <a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-arrow-circle-left"></i></a>
        {% endif %}

        <span class="current">
            <b>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</b>
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-arrow-circle-right"></i></a>
            <a href=#><b><font color="#000080">---</b></font></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
        {% endif %}
    </span>
</div>   
{% endblock %}

{% block javascript %}

{% endblock %}
