{% load static %}
<div class="sidebar pe-4 pb-3">
  <nav class="navbar bg-light navbar-light">
      <a href="" class="navbar-brand mx-4 mb-3">
          <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>ADMIN</h3>
      </a>
      <div class="d-flex align-items-center ms-4 mb-4">
          <div class="position-relative">
              <img class="rounded-circle" src="{% static 'img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">
              <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
          </div>
          <div class="ms-3">
              <h6 class="mb-0">{{ request.user.username }}</h6>
              <span>{{ request.user.role_user }}</span>
          </div>
      </div>
      <div class="navbar-nav w-100">
          <a href="/admin/" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Inicio</a>
          {% if request.user.role_user == 'Cliente' %}
          <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Proyectos</a>
              <div class="dropdown-menu bg-transparent border-0">
                <a href="/admin/proyectos/inscripcion/" class="dropdown-item"><i class="fa fa-list"></i> Lista de Proyectos</a>  
                <a href="/admin/proyectos/clientes/historial/" class="dropdown-item"><i class="fa fa-clock"></i> Historial de Proyectos</a>
                <a href="/admin/proyectos/clientes/proximos-proyectos/" class="dropdown-item"><i class="fa fa-arrow-right"></i> Proximos Proyectos</a>
              </div>
          </div>
          {% endif %}

          {% if request.user.is_superuser %}
            <a href="/adm/clientes/listado/" class="nav-item nav-link"><i class="fa fa-home"></i>Clientes</a>
            <a href="{% url 'adm:employee_list'%}" class="nav-item nav-link"><i class="fa fa-users"></i>Empleados</a>
            <a href="{% url 'adm:category_list'%}" class="nav-item nav-link"><i class="fa fa-cogs"></i>Categorías</a>
          {% endif %}

            {% if request.user.role_user == 'Empleado' %}
                
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Proyectos</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="{% url 'project:project_list' %}" class="dropdown-item"><i class="fas fa-project-diagram"></i> Gestiones de Proyectos</a>
                        <a href="{% url 'project:project_employee_history' %}" class="dropdown-item"><i class="fa fa-history"></i> Historial de Proyectos</a>
                    </div>
                    <a href="{% url 'project:project_clients_participation' %}" class="nav-item nav-link"><i class="fa fa-user"></i> Roles de Clientes</a>
                </div>
            {% endif %}
      </div>
  </nav>
</div>